.todo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-item {
    display: flex;
    align-items: center;
    position: relative;
    width: 508px;
}

.todo input, .todo-span, .todo-completed-span {
    height: 48px;
    width: 508px;
    padding: 0rem 0.75rem 0rem 0.75rem;
    margin-bottom: 10px;
    font-size: 20px;
    background-color: #282828;
    color: #fff;
    border: none;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
}

.todo-completed-span {
    display: inline-block;
    position: relative;
    
}

.todo details {
    text-align: left;
}

.todo summary {
    color: #fff;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
}

.completed {
    display: inline-block;
    width: 100%;
    position: relative;
    text-decoration: underline;
    text-underline-offset: -40%;
    text-decoration-skip-ink: none;
    overflow: hidden;
}

.completed-date {
    position: absolute;
    font-size: 13px;
    color: #8b8b8b;
    margin-top: -10px;
    z-index: 1;
}