.inputfield {
    display: inline-flex;
    margin-top: 100px;
    margin-bottom: 40px;
}

.inputfield input {
    width: 400px;
    height: 38px;
    font-size: 20px;
    border-radius: 0%;
    margin-right: 5px;
    border: none;
    background-color: var(--background-color);
    color: var(--color);
}

.inputfield input:focus {
    background-color: var(--background-color);
    color: var(--color);
}

.inputfield input::placeholder {
    color: var(--text-color);
}

.inputfield button {
    width: 103px;
    border-radius: 0%;
    background-color: #382bf0;
}

.inputfield button:hover {
    background-color: #251d9c;
}