.bin, .check, .custom-calendar {
    font-size: 18px;
    color: var(--text-color);
    position: absolute;
    top: 40%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.bin:hover {
    color: red;
}

.check {
    right: 43px;
}

.check:hover {
    color: green;
}

.todo-span .custom-calendar {
    right: 70px;
}

.todo-span .custom-date-input {
    width: 30px;
    height: 30px;
    background-color: var(--background-color);
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.todo-span .custom-date-input svg {
    color: var(--text-color);
    font-size: 20px;
}

.todo-span .custom-date-input svg:hover {
    color: var(--color);
}

.todo-span .span {
    display: inline-block;
    position: relative;
    width: 425px;
    overflow: hidden;
}

.todo-span .completed {
    width: 485px;
    text-decoration: underline;
    text-underline-offset: -40%;
    text-decoration-skip-ink: none;
}

.todo-date {
    position: relative;
    font-size: 13px;
    color: var(--text-color);
    margin-top: -10px;
    z-index: 1;
}

.overdue {
    color: red;
}